body {
  background-color: rgba(117, 160, 224, 0.6);
}

.container {
  max-width: 700px;
  display: block;
  margin: 0 auto;
  text-align: center;
  border: 1px solid rgba(29, 43, 66, 0.75);
  border-radius: 5px;
}
